.rect_menu {
    background-color: rgba(244.6311467885971, 215.47923266887665, 112.12260514497757, 1);
    height: 189px;
    width: 187px;
    border-radius: 20px;
    position: absolute;
    top: 120px;
    left: 15px;
}

.menu {

    width: 82px;
    height: 82px;
    background-color:#7a6d6d63;
    position: absolute;
    left: 27px;
    top: 18px;
    background-image: url(../../images/image_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-duration: 0.4s;
}

.menu:hover {
    background-color:#7a6d6db0;
}



.buttons {
    background-color: rgba(244.6311467885971, 215.47923266887665, 112.12260514497757, 1);
    width: 150px;
    height: 55px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    margin-top: 5.5px;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
} 


.buttons:hover {
    background-color: rgba(128, 98, 8, 0.5);
}


.fontofbutton {
    color: rgba(54.00000058114529, 54.00000058114529, 54.00000058114529, 1);

    font-family: Inter;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
}