
.rect
{
background-color:#f5d532;
height:89px;
width:187px;
border-radius:20px;
position:absolute;
top:550px;
left:670px;
}
.start
{
color:#363636;
text-align:center;
vertical-align:text-middle;
font-size:48px;
font-family:Inter;
line-height:40px;
border-style:hidden;
outline:none;
width:187px;
align-self:center;
display:flex;
position:absolute;
top:575px;
left:705px;
}
