.UploadCardButton{
    background-color: #fff;
    border: solid 2px #e6e6e6;
    padding: 16px 25px;
    border-radius: 30px;
    font-size: 17px;
    line-height: 1.24;
    margin-bottom: 10px;
}
  
.UploadCardInput {
  opacity: 0;
  z-index: -1;
  position: absolute;
}