.mint {
	color: rgba(0, 0, 0, 1);
	width: 551px;
	height: 189px;
	position: absolute;
	left: 400px;
	top: 350px;
	font-family: Aldrich;
	text-align: left;
	font-size: 42px;
	letter-spacing: 0;
	line-height: px;
}

.MysteryBox {
	color: rgba(0, 0, 0, 1);
	width: 551px;
	height: 189px;
	position: absolute;
	left: 850px;
	top: 350px;
	font-family: Aldrich;
	text-align: left;
	font-size: 42px;
	letter-spacing: 0;
	line-height: px;
}