  .METAMASK{
    width: 99px;
    height: 99px;
    position: absolute;
    left: 670px;
    top: 350px;
    background-image: url(../images/metamask.png);
    background-repeat: no-repeat;
    background-size: cover;
  }