  .METAMASK{
    width:75px;
    height:75px;
    position:absolute;
    left:1350px;
    top:27px;
    background-image:url(../images/metamask_fox_1.png);
    background-repeat:no-repeat;
    background-size:cover;
  }

