.e2_3 {
  color: rgba(255, 255, 255, 1);
  width: 254px;
  height: 46px;
  position: absolute;
  left: 500px;
  top: 300px;
  font-family: Inter;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0;
}

.NFTCRAFTOR{
  color: rgba(255, 255, 255, 1);
  width: 254px;
  height: 46px;
  position: absolute;
  left: 593px;
  top: 250px;
  font-family: Inter;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0;
  
}

.e2_5 {
  width: 99px;
  height: 99px;
  position: absolute;
  left: 670px;
  top: 512px;
  background-image: url(images/metamask.png);
  background-repeat: no-repeat;
  background-size: cover;
}